body {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.6px;
    padding-top: 80px;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    font-size: 13px;
    line-height: 1.8;
}

h1 {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.8px;
}

h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    color: #5f5f5f;
}

h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.7;
    color: #5f5f5f;
}

strong {
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    color: #8264B3;
    font-weight: 400;
}

.button {
    color: white;
    background-color: #7A64A6;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: -2px 2px 4px rgba(112,92,153,0.1);
    transition: background-color 400ms;
    transition: box-shadow 400ms;
    text-decoration: none;
}

.button:hover {
    background-color: #705C99;
    box-shadow: -2px 2px 4px rgba(112,92,153,0.15);
}

/*HEADER*/

header {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    font-size: 13px;
    z-index: 10;
}

header ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding: 0;
    list-style: none;
    left: 20px;
    right: auto;
    display: flex;
    align-items: center;
}

header ul:nth-of-type(2) {
    left: auto;
    right: 20px;
}

header li {
    float: left;
    margin: 0 30px 0 0;
}

header li .desktop {
    padding: 3px 0 3px 0;
}

header ul:nth-of-type(even) li {
    margin: 0 0 0 20px;
}

header ul li.active, header ul li.desktop:hover {
    padding: 3px 0 2px 0;
    border-bottom: 1px solid;
}

header ul li .logo {
    height: 50px;
    display: block;
}

/*MENU*/

.menu-icon {
    display: none
}

.menu-icon img  {
    width: 22px;
    display: block;
}

.menu-icon.close img  {
    width: 18px;
    margin: 0 2px;
    display: block;
}

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background-color: #ffffff;
    z-index: 100;
    padding-top: 80px;
    
}

.menuFilter {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    z-index: 50;
}

.menu .menu-list {
    list-style: none;
    margin: 0 20px;
    padding: 0;
}

.menu .menu-list li {
    margin: 20px 0;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.menu .menu-list li h2 {
    line-height:inherit;
    font-weight: 300;
}

.menu .menu-list li.active h2 {
    font-weight: 300;
}

.menu .menu-list li .chevron {
    position: absolute;
    height: 16px;
    right: 20px;
    top: 0; right: 0;
}

/*INDEX*/

.panel {
    position: relative;
    width: 100%;
    /* overflow: auto; */
    overflow-x: hidden;
}

.panel.grey {
    background-color: #EBEBEB;
}

.panel.single .image-left {
    width: calc(100vw - 40px);
    padding: 20px 20px 0 20px;
    overflow: auto;
}

.panel.single.hero .image-left {
    padding: 0 20px 0 20px;
}

.panel.single .image-left.text-top {
    padding-top: 20px
}

.panel.single .image-left .image {
    position: relative;
    width: calc(60% - 10px);
    margin: 0 10px 20px 0;
    float: left;
    height: calc(33.75vw - 11px); /*ENSURE .TEXT IS EQUAL*/
    border-radius: 3px;
    overflow: hidden;
}

.panel .image, .panel .featured .wrapper {
    box-shadow: 0 2px 6px rgba(112,92,153,0.06);
}

.panel.single .image-left .image .gradient, .panel.single .image-right .image .gradient, .panel.single .image-left .image .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.10) 100%);
}

.panel.single .image-left .image img, .panel.single .image-right .image img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 106%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.panel.single .image-left .text {
    position: relative;
    float: left;
    width: calc(40% - 50px);
    height: calc(33.75vw - 11px); /*ENSURE .IMAGE IS EQUAL*/
    margin: 0 40px 20px 10px;
}

.panel.single .image-left .text .wrapper, .panel.single .image-right .text .wrapper {
    position: absolute;
    bottom: 0;
    padding-right: 10px
}

.panel.single .image-left .text h2, .panel.single .image-right .text h2 {
    margin-bottom: 10px;
}

.panel.single .image-left .text.top {
    position: relative;
    float: left;
    width: calc(40% - 50px);
    height: calc(33.75vw - 11px); /*ENSURE .IMAGE IS EQUAL*/
    margin: 0 40px 20px 10px;
}

.panel.single .image-left .text.top .wrapper {
    position: absolute;
    top: 0;
    margin-top: 20px;
    padding-right: 10px
}

.panel.single .image-right {
    width: calc(100vw - 40px);
    padding: 20px 20px 0 20px;
    overflow: auto;
}

.panel.single .image-right .image {
    position: relative;
    width: calc(60% - 10px);
    margin: 0 0 20px 10px;
    float: right;
    height: calc(33.75vw - 11px); /*ENSURE .TEXT IS EQUAL*/
    border-radius: 3px;
    overflow: hidden;
}

.panel.single .image-right .text {
    position: relative;
    float: left;
    width: calc(40% - 40px);
    height: calc(33.75vw - 11px); /*ENSURE .IMAGE IS EQUAL*/
    margin: 0 40px 20px 0;
}

.panel.single .image-right .text .wrapper {
    position: absolute;
    top: 0;
    margin-top: 20px;
    padding-right: 10px
}

.panel .link, article.body .link {
    display: flex;
    align-items: center;
    padding: 4px 0;
    margin: 6px 0 1px 0;
    color: #8264B3;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.panel .link img, article.body .link img {
    height: 13px;
    margin-left: 6px;
    filter: invert(44%) sepia(9%) saturate(2663%) hue-rotate(221deg) brightness(96%) contrast(90%);
}

.link-bank {
    margin-bottom: 20px;
}

.panel > h2 {
    display: inline-block;
    margin: 30px 20px 20px 20px;
}

.panel .featured {
    width: calc(100vw - 20px);
    margin: 0 auto;
    overflow: auto;
}

.panel .featured .item {
    width: calc(33.33% - 20px);
    margin: 0 10px 40px 10px;
    overflow: auto;
    float: left;
}

.panel .featured div .wrapper {
    position: relative;
    width: 100%;
    height: calc(18.7vw - 11px);
    margin-bottom: 8px;
    border-radius: 3px;
    float: left;
    overflow: hidden;
}

.panel .featured div .wrapper img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 102%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.panel .featured span {
    float: left;
    width: calc(100% - 60px);
}

.panel .featured div a > h4 {
    float: right;
    max-width: 60px;
    overflow-wrap: break-word;
    text-align: right;
    pointer-events: none;
}

article {
    width: calc(100% - 40px);
    padding: 0 20px 0 20px;
}

article.body {
    padding-bottom: 20px;
}

article section {
    overflow: auto;
}

article section .left {
    position: relative;
    width: calc(40% - 20px);
    margin: 0 20px 20px 0;
    float: left;
}

article section .right {
    position: relative;
    float: left;
    width: calc(60% - 10px);
    margin: 0 0 0 10px;
}

article.body section .right h2 {
    max-width: 46em;    
    margin-bottom: 4px;
}

article.body section .right p:not(.right .link p)  {
    max-width: 46em;
    margin-bottom: 20px
}

article section .full {
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    float: left;
}

article section .full .wrapper {
    position: relative;
    width: 100%;
    height: calc(28.1vw - 11px);
    border-radius: 3px;
    float: left;
    overflow: hidden;
}

article section .full .wrapper img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

article section .right .wrapper {
    position: relative;
    width: 100%;
    height: calc(33.7vw - 11px);
    border-radius: 3px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

article section .right .wrapper img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 102%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

form {
    padding: 0;
    margin: 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 8px 6px;
    width: 100%;
    border: solid 1px lightgray;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2px;
}

form input:focus { 
    outline: none !important;
    border-color: #88BFBB;
}

form textarea:focus { 
    outline: none !important;
    border-color: #88BFBB;
}

form textarea {
   resize: vertical;
}

form button {
    color: white;
    background-color: #7A64A6;
    text-align: center;
    padding: 10px 22px;
    border-radius: 3px;
    box-shadow: -2px 2px 4px rgba(112,92,153,0.1);
    transition: background-color 400ms;
    transition: box-shadow 400ms;
    text-decoration: none;
    border-width: 0;
    border-style: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.4px;
    font-size: 13px;
}

form button:hover {
    background-color: #705C99;
    box-shadow: -2px 2px 4px rgba(112,92,153,0.15);
}


footer {
    background-color: #88BFBB;
    color: white;
}

footer article {
    padding-top: 40px;
    padding-bottom: 20px;
}

footer article .left h2, footer article .right h2, footer article .left p {
    text-shadow: 0px 0px 2px rgba(0,0,0,0.08);
    display: inline-block;
    float: left;
    clear: left;
    padding: 2px 6px 2px 0;
}

footer .link {
    display: inline-flex;
    align-items: center;
    padding: 2px 6px 2px 0;
    margin: 0 0 2px 0;
    float: left;
    clear: left;
}

footer .link img {
    height: 18px;
    margin-right: 6px;
    filter: invert(92%) sepia(51%) saturate(0%) hue-rotate(216deg) brightness(106%) contrast(100%);
}

footer .link p {
    padding: 0;
}

footer .right .link p {
    padding-bottom: 1px;
}

footer .right .link p:hover {
    padding-bottom: 0px;
    border-bottom: 1px solid white;
}

footer .link.sponsor {
    margin-top: 6px
}

footer .link.sponsor img {
    height: 20px;
    filter: brightness(0) invert(1);
}

.mobile {
    display: none;
}

@media (max-width: 800px) {

    p {
        font-size: 12px;
    }

    h2 {
        font-size: 15px;
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    
    header {
        height: 70px;
    }
    
    header ul {
        left: 20px;
    }

    header ul:nth-of-type(even) {
        right: 20px;
    }
    
    header ul li .logo {
        height: 46px;
    }
    
    .menu-icon {
        display: block
    }
    
    .panel.single .image-left, .panel.single .image-right {
        width: calc(100vw - 40px);
    }

    .panel.single .image-left .image, .panel.single .image-right .image {
        position: relative;
        width: 100%;
        margin: 0 0 20px 0;
        float: left;
        height: calc(56.25vw - 11px);
    }
    
    .panel.single .image-left .text, .panel.single .image-left.text-top .text, .panel.single .image-right .text {
        position: static;
        width: 100%;
        height: auto; /*ENSURE .IMAGE IS EQUAL*/
        margin: 0 0 20px 0;
    }
    
    .panel.single .image-left .text .wrapper, .panel.single .image-left.text-top .text .wrapper, .panel.single .image-right .text .wrapper {
        position: static;
        padding: 0;
        margin-top: 0;
    }
    
    .panel > h2 {
        margin: 30px 20px 20px 20px;
    }
    
    .panel .featured .item {
        width: calc(100% - 20px);
        margin: 0 10px 30px 10px;
    }
    
    .panel .featured div .wrapper {
        height: calc(56.25vw - 11px);
    }
    
    article section .left {
        position: relative;
        width: 100%;
        margin: 0 0 20px 0;
        float: left;
    }
    
    footer article section .left {
        margin: 0 0 0 0;
    }

    article section .right {
        position: relative;
        float: left;
        width: 100%;
        margin: 0 0 0 0;
    }
    
    article section .full .wrapper {
        height: calc(37.1vw - 11px);
    }
    
    article section .right .wrapper {
        height: calc(56.25vw - 31px);
    }
    
    article section .right .wrapper img {
        width: 104%
    }
    
    footer {
        padding-bottom: 20px;
    }
    
    footer article .left h2, footer article .left p, footer .link {
        padding: 4px 6px 4px 0;
    }
    
    footer article .right h2 {
        margin-bottom: 2px;
    }
    
    footer article .left .sponsor {
        margin-top: 20px;
    }
    
    footer article .right {
        margin-top: 20px;
    }
    
}